# Ignore environment files
.env
backend/.env
frontend/.env

# Ignore node_modules
node_modules/

# Ignore build outputs
.next/
out/
dist/


echo "backend/writable/logs/" >> .gitignore
echo "backend/writable/session/" >> .gitignore
echo "frontend/.env.local" >> .gitignore